.header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}