.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100%;
}

.float-container {
    display: flex;
}
.float-child {
    flex: 1;
}  