version: '3'
services:
  model_microservice:
      build: ./backend/model_microservice/
      ports:
        - '5000:5000'
  converter_microservice:
      build: ./backend/converter/
      ports:
        - '5001:5001'
  web:
    build: ./frontend/
    ports:
      - "3000:3000"
    volumes:
     - ./frontend:/app
     - ./frontend/node_modules:/app/node_modules
    environment:
      NODE_ENV: development
    stdin_open: true
    tty: true
    command: npm run start